@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <img src="~/Images/072319_ee_cat-allergy_feat.jpg" class="rounded" alt="Cats" />
    <div class="carousel-caption" role="option">
        <p>
            We are here!
        </p>
    </div>
</div>